.button {
  display: block;
  text-align: center;
  // text-decoration: none;
  // width: 120px;
  margin: auto;
  padding: 1rem 4rem;
  font-weight: bold;
  transition: 1.0s;


  &.red {
    border-color: #d92727;
    color: #d92727;

    &:hover {
      background: #d92727;
      color: #ffffff;
    }
  }

  &.blue {
    border-color: #27acd9;
    color: #27acd9;

    &:hover {
      background: #27acd9;
      color: #ffffff;
    }
  }
}
